.main {
	display: flex;
	background-color: rgb(116, 209, 234);
	height: 90vh;
	text-align: center;
	color: black;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

#msform {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*inputs*/
#msform input, #msform textarea {
	outline: none;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action_button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action_button:hover, #msform .action_button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
#msform .action_button:disabled {
	color: #ccc;
	cursor: not-allowed;
}

/*headings*/
.fs_title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 20px;
}
