.passwdButton {
	position: absolute;
	right: 10%;
	top: 65%;
	background: #727272;
  	color: white;
  	padding: 4px 8px;
  	border-radius: 4px;
  	font-weight: 700;
	font-size: .4em;
	cursor: pointer;
}
