.footer {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 6vh;
	background-color: white;
	border-top: 1px solid white;
}

.footer > p {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	display: flex;
	margin: 0;
	padding: 1% 1% 1% 1%;
	color: rgb(116, 209, 234);
	font-size: 0.6em;
	text-align: right;
}
