@media only screen and (max-device-width: 1450px){
	.bubble {
		display: flex;
		flex-direction: column;
		position: relative;
		border: 1px solid rgb(116, 209, 234);
		background-color: rgb(116, 209, 234);
		border-radius: 50%;
		width: 60vh;
		height: 60vh;
		margin-left: 1%;
		margin-bottom: 3%;
		/* cursor: pointer; */
	}
}

@media (min-width: 1450px) {
	.bubble {
		display: flex;
		flex-direction: column;
		position: relative;
		border: 1px solid rgb(116, 209, 234);
		background-color: rgb(116, 209, 234);
		border-radius: 50%;
		width: 50vh;
		height: 50vh;
		margin-left: 1%;
		margin-bottom: 3%;
		/* cursor: pointer; */
	}
}

.front:hover {
	box-shadow: 10px 10px 10px rgba(53, 160, 190, 0.493);
	cursor: pointer;
}

.bubble > .profilPic {
	position: relative;
	display: flex;
	margin: 2% auto;
	width: 50%;
	border-radius: 50%;
}

@media only screen and (max-device-width: 1450px) {
	.icon {
		position: relative;
		margin: 2% auto;
		text-align: center;
		color: white;
		font-size: 30vh;
	}
}
@media only screen and (min-device-width: 1450px) {
	.icon {
		position: relative;
		margin: 2% auto;
		text-align: center;
		color: white;
		font-size: 19vh;
	}
}

.username {
	color: white;
	font-weight: 300;
	font-size: 2vw;
	text-align: center;
}

.username > i {
	color: #524a54;
	font-size: 3vw;
	padding-right: 1%;
}

.sexOrient {
	color: #524a54;
	text-align: center;
	font-weight: 300;
	font-size: 1.3vw;
	margin-top: 5%;
}

.age {
	color: #524a54;
	text-align: center;
	font-weight: 300;
	font-size: 1.3vw;
}

.ligne {
	width: 80%;
	margin: 0 auto;
	font-size: 1vw;
}

.ligne {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: white;
	text-align: center;
	height: 1.5em;
	opacity: .5;
  }
  .ligne:before {
	content: '';
	background: linear-gradient(to right, transparent, white, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
  }
  .ligne:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: white;
	padding: 0 .5em;
	line-height: 1.5em;
	color: white;
	background-color:rgb(116, 209, 234);
  }


@media only screen and (max-device-width: 1450px) {
	.tagCont {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
		/* display: inline-block; */
		/* -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; */
		margin: 0 auto;
		margin-top: 5px;
		width: 45vh;
		height: 11vh;
		border-bottom-left-radius: 10vh;
		border-bottom-right-radius: 10vh;
	}	
}
  @media only screen and (min-device-width: 1450px) {
	.tagCont {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
		/* display: inline-block; */
		/* -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; */
		margin: 0 auto;
		margin-top: 5px;
		width: 31vh;
		height: 10vh;
		border-bottom-left-radius: 10vh;
		border-bottom-right-radius: 10vh;
	}	
}

@media only screen and (max-device-width: 1450px) {
	.hash {
		color: white;
		font-size: 1.4vh;
		margin-bottom: 4px;
		margin-right: 2px;
	}
}
@media only screen and (min-device-width: 1450px) {
	.hash {
		color: white;
		font-size: 1vh;
		margin-bottom: 4px;
		margin-right: 2px;
	}
}

@media only screen and (max-device-width: 1450px) {
	.price_tag {
		display: flex;
		position: relative;
		display: inline-block;
		width: auto;
		height: 2.4vh;
		/* margin: 1%; */
		font-size: 1.4vh;
		padding-left: 10px;
		padding-right: 10px;
		background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
		background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
		background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
		color: #f2f2f2;
		line-height: 20px;
		border-radius: 4px;
		border: 1px solid #f2f2f2;
	  }
}
@media only screen and (min-device-width: 1450px) {
	.price_tag {
		display: flex;
		position: relative;
		display: inline-block;
		width: auto;
		height: 1.5vh;
		margin: 1%;
		font-size: .8vh;
		padding-left: 10px;
		padding-right: 10px;
		background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
		background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
		background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
		color: #f2f2f2;
		line-height: 20px;
		border-radius: 4px;
		border: 1px solid #f2f2f2;
	  }
}
  .price_tag:after,
  .price_tag:before {
	position: absolute;
	content: '';
	border: 1px solid #f2f2f2;
  }
@media only screen and (max-device-width: 1450px) {
  	.price_tag:after {  /* the arrow on left side positioned using left property */
		height: 1.65vh;
		width: 1.65vh;
		transform: rotate(45deg);
		background: #e2a9e5;
		border-color: transparent transparent #f2f2f2 #f2f2f2;
		left: -6px;
		top: 2px;
  	}
}
@media only screen and (min-device-width: 1450px) {
	.price_tag:after {  /* the arrow on left side positioned using left property */
	  height: 1vh;
	  width: .8vh;
	  transform: rotate(45deg);
	  background: #e2a9e5;
	  border-color: transparent transparent #f2f2f2 #f2f2f2;
	  left: -6px;
	  top: 2px;
	}
}
  .price_tag:before {  /* the circle on the left */
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background-color: rgb(116, 209, 234);
	left: 0px;
	top: 7px;
	z-index: 2;
  }
