.main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(116, 209, 234);
}

.form {
	width: 50%;
	max-width: 500px;
	min-height: 10vh;
	height: 100%;
	background-color: white;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.confirm {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 2vw;
	color: rgb(116, 209, 234);
	text-align: center;
}

.wrongLink {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 2vw;
	color: #ff665e;
	text-align: center;
}
