@media only screen and (max-device-width: 1450px) {
	#passwd_cont {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-bottom: 1%;
	}
}

@media only screen and (min-device-width: 1500px) {
	#passwd_cont {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}
}

.passwdStrength {
	position: relative;
	height: 5px;
	top: -3%;  
  	background: transparent;
  	transition: all 300ms ease-in-out;
}
.passwdStrength[data-score="null"] {
	width: 0;
	background: red;
}
.passwdStrength[data-score="0"] {
	width: 5%;
	background: #F44336;
}
.passwdStrength[data-score="1"] {
	width: 25%;
	background: #F44336;
}
.passwdStrength[data-score="2"] {
	width: 50%;
	background: #FFEB3B;
}
.passwdStrength[data-score="3"] {
	width: 75%;
	background: #4CAF50;
}
.passwdStrength[data-score="4"] {
	width: 100%;
	background: #4CAF50;
}

.passwd {
	margin-bottom: 0;
}

@media only screen and (max-device-width: 375px) {
	.passwdButton {
		box-sizing: content-box;
		position: absolute;
		/* width: 8%; */
		left: 75%;
		bottom: 30%;
		background: #727272;
		color: white;
		padding: 4px 8px;
		border-radius: 4px;
		font-weight: 700;
		font-size: .4em;
		cursor: pointer;
	}
}

@media only screen and (min-device-width: 380px) and (max-device-width: 1450px) {
	.passwdButton {
		box-sizing: content-box;
		position: absolute;
		width: 8%;
		left: 85%;
		bottom: 30%;
		background: #727272;
		color: white;
		padding: 4px 8px;
		border-radius: 4px;
		font-weight: 700;
		font-size: .4em;
		cursor: pointer;
	}
}

@media only screen and (min-device-width: 1500px) {
	.passwdButton {
		box-sizing: content-box;
		position: absolute;
		width: 8%;
		left: 85%;
		bottom: 45%;
		background: #727272;
	  	color: white;
	  	padding: 4px 8px;
	  	border-radius: 4px;
	  	font-weight: 700;
		font-size: .4em;
		cursor: pointer;
	}
}
