.Input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.label {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

.InputElement {
	outline: none;
	border: 1px solid #ccc;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.InputElement:focus {
	background-color: #ccc;
}

.Invalid {
	border: 1px solid red;
	background-color: rgb(253, 135, 135);
}

.ValidationError {
	color: red;
	opacity: 0.7;
	margin: 0;
	font-size: 0.4em;
	text-align: left;
}
