.Input {
	width: 100%;
	/* padding: 10px; */
	box-sizing: border-box;
}

.label {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

.InputElement {
	outline: none;
	border: 1px solid #ccc;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.InputElement:focus {
	background-color: #ccc;
}

.Invalid {
	border: 1px solid red;
	background-color: rgb(253, 135, 135);
}

.ValidationError {
	color: red;
	opacity: 0.7;
	margin: 0;
	font-size: 0.4em;
	text-align: left;
}

.radio {
	position: absolute;
	opacity: 0;
	z-index: -2;
}
.label {
	position: relative;
	font-size: 0.4em;
	margin-right: 1em;
	padding-left: 2em;
	padding-right: 0.5em;
	line-height: 2;
	cursor: pointer;
	padding-top: 0.15em;
	margin-bottom: 1%;
	z-index: 1000;
}
.label:before {
	box-sizing: border-box;
	content: " ";
	position: absolute;
	top: 0.2em;
	bottom: 0.2em;
	left: 5%;
	display: block;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid black;
	border-radius: .25em;
	/* z-index: -1; */
}  
.radio + .label::before {
	border-radius: 1em;
}
.radio:checked + .label {
	padding-left: 1.5em;
	padding-right: 1em;
	padding-top: 0.4em;
	color: white;
}
.radio:checked + .label:before {
	top: 0;
	width: 100%;
	height: 2vh;
	background: #27AE60;
	border: 1px solid #27AE60;
	z-index: -1;
}  
/* Transition */
.label,
.label::before {
	transition: .25s all ease;
}
.gender {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.sexualOrient {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
