.main {
	width: 100%;
	height: 100vh;
	display: flex;
	position: relative;
}
.contener {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 100%;
	position: relative;
	/* border: 1px solid red; */
	margin: 0 auto;
	margin-top: 2%;
}

/*
	FIRST ROW
*/
.firstRow {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40%;
	position: relative;
}

/* Left */
.leftPart {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 100%;
	position: relative;
}
.photosCont {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
}
.profilPic {
	width: 30vw;
	height: 30vw;
	border-radius: 50%;
}
.otherPics {
	display: flex;
	flex-direction: column;
	width: 20%;
	align-items: center;
}
.otherPic {
	border-radius: 50%;
	width: 7.5vw;
	margin-bottom: 1%;
}
.icon {
	font-size: 7vw;
	color: #524A54;;
}

.uploadPic {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 5%;
}
.uploadForm {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.fileInput {
	margin: 2%;
	width: 60%;
	font-size: 1vw;
	cursor: pointer;
	color: #524A54;
	border: none;
}
.fileInput:focus {
	outline: none;
}
.imgPreview {
	text-align: center;
	margin: 0 auto;
	width: 50%;
	border-radius: 50%;
}
.imgPreview img {
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
}
.previewText {
	width: 100%;
	font-size: 1vw;
	margin-top: 2%;
	color: #524A54;
}
.submitButton {
	font-size: 2vw;
	cursor: pointer;
	color: #524A54;
}
.submitButton:hover {
	color: rgb(116, 209, 234);
}


/*
	RIGHT
*/
.rightPart {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	height: 100%;
	position: relative;
}

.descriptionCont {
	position: relative;
	display: inline-block;
	text-align: center;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	position: relative; */
}
.rightTop {
	display: flex;
	flex-direction: row;
	width: 100%;
}
/*
	Basic infos
*/
.basicInfos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
}
.basicInfos > h3 {
	display: flex;
	flex-direction: row;
	font-weight: 400;
	color: #524A54;
}
.basicInfos > h4 {
	display: flex;
	flex-direction: row;
	font-weight: 300;
	color: #524A54;
	font-size: 0.6em;
}
.usernameAge {
	width: 60%;
	font-weight: 300;
	color: #524A54;
	font-size: 0.6em;
	margin-right: 2%;
}
.genderSex {
	width: 80%;
}
.genderIcon {
	margin-right: 2%;
	margin-top: 1%;
}

/*
	Middle
*/
.rightMiddle {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-left: 15%;
}
.left_quote {
	color: #524A54;
	display: flex;
	justify-self: left;
}
.right_quote {
	color: #524A54;
	display: block;
	position: relative;
	right: -88%;
	bottom: 15%;;
}
.bioCont {
	display: flex;
	flex-direction: column;
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
	/* height: 50%; */
}
.IAm {
	display: flex;
	flex-direction: column;
	justify-self: left;
	position: relative;
	height: 150px;
}
.IAm > h5 {
	color: #524A54;
	font-weight: 300;
	position: relative;
	left: -1.5%;
	font-size: 1.5vw;
}
.bio {
	text-align: center;
	color: #524A54;
	font-weight: 300;
	position: relative;
	/* margin-top: 10%; */
	display: flex;
	justify-content: center;
	height: 100px;
}
.bio > h4 {
	font-weight: 300;
}
.lookingFor {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	height: 150px;
}
.lookingFor > h5 {
	color: #524A54;
	font-weight: 300;
	font-size: 1.5vw;
	right: -67%;
	/* bottom: -50%; */
	display: block;
	width: 41.7%;
	position: relative;
}


/*
	TAGS
*/
@media only screen and (max-device-width: 1450px) {
	.hash {
		color: white;
		font-size: 1.4vh;
		margin-bottom: 4px;
		margin-right: 2px;
	}
}
@media only screen and (min-device-width: 1450px) {
	.hash {
		color: white;
		font-size: 1vh;
		margin-bottom: 4px;
		margin-right: 2px;
	}
}
@media (max-width: 1450px) {
	.tagContIAm {
		display: flex;
		flex-direction: row;
		justify-content: right;
		flex-wrap: wrap;
		/* width: 100%; */
		height: auto;
	}
	.tagContInterest {
		display: block;
		width: 100%;
		height: auto;
		position: relative;
		right: -58%;
	}	
}
  @media (min-width: 1450px) {
	.tagContIAm {
		display: flex;
		flex-direction: row;
		justify-content: right;
		flex-wrap: wrap;
		/* width: 100%; */
		height: auto;
	}
	.tagContInterest {
		display: block;
		width: 100%;
		height: auto;
		position: relative;
		right: -75%;
	}	
}
@media only screen and (max-device-width: 1450px) {
	.price_tag {
		/* display: flex; */
		display: block;
		position: relative;
		float: right;
		/* display: inline-block; */
		/* width: auto; */
		height: 2.5vh;
		margin-right: 2.5%;
		font-size: 1.4vh;
		padding-left: 10px;
		padding-right: 10px;
		background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
		background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
		background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
		color: #f2f2f2;
		line-height: 20px;
		border-radius: 4px;
		/* border: 1px solid #f2f2f2; */
	  }
}
@media only screen and (min-device-width: 1450px) {
	.price_tag {
		display: flex;
		position: relative;
		display: inline-block;
		width: auto;
		height: 1.5vh;
		margin: 1%;
		font-size: .8vh;
		padding-left: 10px;
		padding-right: 10px;
		background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
		background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
		background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
		color: #f2f2f2;
		line-height: 20px;
		border-radius: 4px;
		border: 1px solid #f2f2f2;
	  }
}
  .price_tag:after,
  .price_tag:before {
	position: absolute;
	content: '';
	/* border: 1px solid #f2f2f2; */
	box-sizing: unset;
  }
@media only screen and (max-device-width: 1450px) {
  	.price_tag:after {  /* the arrow on left side positioned using left property */
		height: 1.75vh;
		width: 1.75vh;
		transform: rotate(45deg);
		background: #e2a9e5;
		border-color: transparent transparent #f2f2f2 #f2f2f2;
		left: -6px;
		top: 2px;
  	}
}
@media only screen and (min-device-width: 1450px) {
	.price_tag:after {  /* the arrow on left side positioned using left property */
	  height: 1vh;
	  width: .8vh;
	  transform: rotate(45deg);
	  background: #e2a9e5;
	  border-color: transparent transparent #f2f2f2 #f2f2f2;
	  left: -6px;
	  top: 2px;
	}
}
  .price_tag:before {  /* the circle on the left */
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background-color: rgb(116, 209, 234);
	left: 0px;
	top: 7px;
	z-index: 2;
  }

/*
	Popularity
*/
.secondRow {
	display: flex;
	flex-direction: row;
	margin-top: 3%;
	position: relative;
	/* justify-content: center; */
}
.cercle {
	display: flex;
	width: 40%;
	justify-content: center;
	position: relative;
	left: 50%;
	top: 100%;
}
.matchIndicator {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid #524A54;
	border-radius: 50%;
	width: 10vw;
	height: 10vw;
}
.percentage {
	font-size: 2vw;
	text-align: center;
	margin-bottom: 0;
	color: #524A54;
}
.percentage > i {
	color: #524A54;
}
.popularity {
	font-size: 1.2vw;
	text-align: center;
	color: #524A54;
}
.geolocCont {
	width: 60%;
	position: absolute;
	/* left: 50%; */
}


/*
	EDIT INFOS
*/
.edit {
	position: absolute;
	width: 8%;
	font-size: 1vw;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 2px;
	background-color: none;
	top: 0%;
	left: 95%;
	cursor: pointer;
	color: #524A54;
	border: 1px solid #524A54;
	padding-top: 5px;
	padding-bottom: 5px;
}
.edit:hover, .edit:focus {
	background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
	background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
	background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
	color: white;
	border: 1px solid white;
	outline: none;
}
input, textarea {
	outline: none;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
.questionsS3 {
	font-size: 0.6em;
	font-weight: 300;
	position: relative;
}
.genderSexualOrient {
	display: flex;
	flex-direction: row;
}
.ageEdit {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.IAmTags {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: absolute;
	left: -4%;
	top: 5%;
}
.bio input {
	width: 90%;
}
.lookingForTags {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: absolute;
	/* left: 72%; */
	top: 5%;
}
/* Styles for the tag input */
/* div.ReactTags__tagInput {
    width: 100%;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 1vh;
    margin: 0;
    font-size: 0.5em;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
} */
