.main {
	width: 100%;
	min-height: 100vh;
	background-color: rgb(116, 209, 234);
	display: flex;
	justify-content: center;
	align-items: center;
}

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*
	FORM STYLES
*/
@media only screen and (max-device-width: 375px) {
	#msform {
		min-width: 350px;
		position: relative;
		text-align: center;
		margin: 0 auto;
		left: -40%;
		top: -20%;
	}
}

@media only screen and (min-device-width: 380px) {
	#msform {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		text-align: center;
		position: relative;
	}
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*inputs*/
#msform input, #msform textarea {
	outline: none;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-left: 0;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

/*headings*/
.fs_title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs_subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

.passwdCont {
	display: flex;
	flex-direction: row;
	position: relative;
}

@media only screen and (max-device-width: 375px) {
	.passwdToggle {
		box-sizing: content-box;
		position: absolute;
		/* width: 8%; */
		left: 65%;
		bottom: 34%;
		background: #727272;
	  	color: white;
	  	padding: 4px 8px;
	  	border-radius: 4px;
	  	font-weight: 700;
		font-size: .5em;
		cursor: pointer;
	}
}

@media only screen and (min-device-width: 1450px) {
	.passwdToggle {
		box-sizing: content-box;
		position: absolute;
		bottom: 40%;
		left: 85%;
		background: #727272;
		color: white;
		padding: 4px 8px;
		border-radius: 4px;
		font-weight: 700;
		font-size: .5em;
		cursor: pointer;
	}
}

/*buttons*/
#msform .action_button {
	width: 8vw;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	align-self: center;
}
#msform .action_button:hover, #msform .action_button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
#msform .action_button:disabled {
	color: #ccc;
	cursor: not-allowed;
}
.submit {
	font-family: montserrat;
	font-size: 1.2vw;
}
