.NavBar {
  text-align: left;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo > i {
  /* background: url(https://media.giphy.com/media/fX7odl0eM6X28/giphy.gif); */
  /* font-size: 2.5em; */
  opacity: 0.9;
  background: url(https://media.giphy.com/media/pWhWtKdqwOAco/giphy.gif);
  /* background: url(https://media.giphy.com/media/Eqz8ZFUScPHH2/giphy.gif); */
  background-size: cover;
  /* background-repeat: no-repeat; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a, a:hover {
  text-decoration: none;
  color: black;
}
