.NavBar {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(116, 209, 234);
}

.logo {
  list-style: none;
  width: 100%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 1%;
}

.logo > h1 {
  display: flex;
  flex-direction: row;
  font-size: 2.5em;
}

.logo > h1 > i {
  /* background: url(https://media.giphy.com/media/fX7odl0eM6X28/giphy.gif); */
  /* font-size: 2.5em; */
  opacity: 0.9;
  background: url(https://media.giphy.com/media/pWhWtKdqwOAco/giphy.gif);
  /* background: url(https://media.giphy.com/media/Eqz8ZFUScPHH2/giphy.gif); */
  background-size: cover;
  /* background-repeat: no-repeat; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 3%;
  margin-right: 5%;
}

a, a:hover {
  text-decoration: none;
  color: black;
}
