.main {
	position: relative;
	display: flex;
	background-color: white;
	width: 100%;
	min-height: 100vh;
	color: rgb(116, 209, 234);
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}


.searchPart {
	position: relative;
	display: flex;
	width: 100%;
	/* background-color: white; */
	/* height: 100vh; */
	/* color: rgb(116, 209, 234); */
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.filters {
	width: 100%;
	/* height: 10vh; */
	display: flex;
	justify-content: center;
}

.filters > h3 {
	position: absolute;
	font-weight: 400;
	font-size: 2vw;
	margin-top: 2%;
	left: 20%;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.border {
	border: 1px solid rgb(116, 209, 234);
	width: 95%;
	/* height: 40vh; */
	margin-top: 3%;
	margin-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 1%;
}
.elemCont {
	display: flex;
	flex-direction: row;
	margin-right: -10%;
	position: relative;
}
.filtersCont {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

/*
	SEARCH BAR & SUBMIT
*/
@media (max-width: 1450px) {
	.searchbarCont {
		width: 80%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 5%;
	}	
}
@media (min-width: 1450px) {
	.searchbarCont {
		width: 80%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 3%;
	}
}
.searchbar {
	width: 50%;
	font-family: montserrat;
	font-size: 1.5vw;
	font-weight: 400;
	outline: none;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	box-sizing: border-box;
	color: #2C3E50;
	margin-top: 10%;
}
input {
	border-radius: 3px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
}
.submit {
	background-color: none;
	border: none;
	position: relative;
	margin-left: -1.5%;
}
.submit:focus {
	outline: 0;
}
.submit > i {
	color: #524a54;
	font-size: 3vw;
}
.submit > i:hover {
	/* color: #524a54; */
	background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
	background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
	background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	/* font-size: 3vw; */
}



/*
	ROW OF FILTERS
*/
.firstRow {
	display: flex;
	flex-direction: row;
	width: 100%;
}
/*
	RANGE & SLIDER
*/
@media (max-width: 1450px) {
	.questionsS3 {
		font-size: 0.6em;
		font-weight: 300;
		position: relative;
	}
	.values {
		font-size: 0.5em;
		font-weight: 300;
		font-family: 'Ubuntu', sans-serif;
		text-align: end;
	}
}

@media (min-width: 1450px) {
	.questionsS3 {
		font-size: 1.4vw;
		font-weight: 300;
		position: relative;
	}
	.values {
		font-weight: 300;
		font-size: 1vw;
		font-family: 'Ubuntu', sans-serif;
		text-align: end;
	}
}
.step3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2%;
	margin-right: 1%;
	width: 22%;
}
/* Styles for the tag input */
.TagInputClass {
    width: 80%;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 1vh;
    margin: 0;
    font-size: 0.5em;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
}


/*
	GEOLOCATION
*/
.secondRow {
	width: 100%;
	margin-top: 2%;
	height: 20vh;
	display: flex;
	flex-direction: row;
}
.geolocCont {
	width: 50%;
}
.pos {
	position: relative;
	top: -15%;
	left: 80%;
	width: 100%;
	height: 2vw;
}
.geolocate {
	font-size: 2vw;
	position: absolute;
	left: 10%;
	top: 0;
	color: #524A54;
	cursor: pointer;
	z-index: 5;
}
.geolocate:hover {
	color: rgb(116, 209, 234);
}

/*
	FILTERING LIST BY
*/

@media (max-width: 1450px) {
	.filterBy {
		order: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 40%;
		top: 40%;
		width: 50%;
	}	
}
@media only screen and (min-device-width: 1450px) {
	.filterBy {
		order: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 60%;
		top: 30%;
		width: 30%;
	}
}
.filterBy > h4 {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.8vw;
	font-weight: 300;
}
.optionsCont {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.labelOption {
	display: flex;
}

.radio {
	position: absolute;
	opacity: 0;
	z-index: -2;
}
.label {
	font-family: 'Ubuntu', sans-serif;
	color: #524a54;
	font-weight: 300;
	font-size: 1vw;
	display: block;
	position: relative;
	margin-right: 1vw;
	padding-left: 2.5vw;
	padding-right: 0.5vw;
	cursor: pointer;
	padding-top: 0.15vw;
	z-index: 1000;
}
.label:before {
	box-sizing: border-box;
	content: " ";
	position: absolute;
	top: 0.2em;
	bottom: 0.2em;
	left: 5%;
	display: block;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid #524a54;
	border-radius: .25em;
}  
.radio + .label::before {
	border-radius: 1em;
}
.radio:checked + .label {
	color: #27AE60;
}
.radio:checked + .label:before {
	background: #27AE60;
	border: 1px solid #27AE60;
}  
/* Transition */
.label,
.label::before {
	transition: .25s all ease;
}


/* 
	USERS ICON DISPLAY
*/
.wrapper {
	padding-top: 5%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 2%;
	/* align-items: center; */
}
