.popup {
	font-family: 'ComfortaaBold', cursive;
}

.LogBar {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin-right: 2%;
	background-color: 'white';
	font-family: 'inherit';
	font-size: '0.5em';
	list-style: 'none';
}

.sidebar {
	display: flex;
	font-family: 'ComfortaaBold', cursive;
	border: 1px solid rgb(116, 209, 234);	
	border-radius: 15px;
	margin-bottom: 5px;
	color: rgb(116, 209, 234);
	padding: 5px 15px 5px 15px;
	cursor: pointer;
}

.sidebar:focus {
	outline: 0;
}

.sidebar:hover {
	background-color: rgb(116, 209, 234);
	color: white;
}

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

.passwdToggle {
	position: absolute;
	width: 8%;
	left: 78%;
	bottom: 37%;
	background: #727272;
  	color: white;
  	padding: 4px 8px;
  	border-radius: 4px;
  	font-weight: 700;
	font-size: .4em;
	cursor: pointer;
}
