/*
	DISPLAY PAGE BEFORE POPUP
*/

.display_page {
	height: 100vh;
	text-align: center;
	background-color: rgb(116, 209, 234);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}  
.display_page > .sign_up {
	display: block;
	background-color: white;
	font-family: 'ComfortaaBold', cursive;
	font-size: 0.7em;
	border-radius: 15px;
	margin-bottom: 5px;
	margin-top: 2%;
	color:  rgb(116, 209, 234);
	padding: 5px 15px 5px 15px;
	cursor: pointer;
}
.sign_up:focus {
	outline: 0;
}
  
.display_page > .sign_up:hover {
	color: #f2f2f2;
	box-shadow: 10px 10px 10px rgb(53, 161, 190);
	opacity: 1;
	background: #e2a9e5;
	background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
	background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
	background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
}

/*
	POPUP WINDOW BASICS
*/

.popup {  
	position: fixed;  
	width: 100%;  
	height: 100%;  
	top: 0;  
	left: 0;  
	right: 0;  
	bottom: 0;  
	margin: auto;
	z-index: 2;
}

.popup_inner {
	display: flex;
	position: absolute;  
	left: 25%;  
	right: 25%;  
	top: 25%;  
	bottom: 25%;  
	margin: auto;  
	border-radius: 20px;  
	color:black;
}

/* h3 subquestions */
.questions {
	font-size: 0.7em;
	position: relative;
	margin-bottom: 2%;
	margin-top: 4%;
}

/* 
	CLOSE BUTTON
*/

@media only screen and (max-device-width: 375px) {
	.close {
		position: relative;
		left: -45%;
		display: inline-block;
		width: 30px;
		height: 30px;
		overflow: hidden;
		background: none;
		border: none;
		z-index:50;
		cursor: pointer;
	}
	.close:target {
		color: rgb(204, 76, 76);
	}
}

@media only screen and (min-device-width: 380px) {
	.close {
		position: relative;
		left: -40%;
		display: inline-block;
		width: 40px;
		height: 40px;
		overflow: hidden;
		background: none;
		border: none;
		cursor: pointer;
	}
}
.close:focus {
	outline: 0;
}
.close:hover::before, .close:hover::after {
	background: rgb(204, 76, 76);
}
.close::before, .close::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background: #000;
}
.close::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.close.heavy::before, .close.heavy::after {
	height: 12px;
	margin-top: -6px;
}
.close.rounded::before, .close.rounded::after {
	border-radius: 5px;
}

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*
	FORM STYLES
*/
@media only screen and (max-device-width: 375px) {
	#msform {
		min-width: 350px;
		position: relative;
		text-align: center;
		margin: 0 auto;
		left: -40%;
		top: -20%;
	}
}

@media only screen and (min-device-width: 380px) {
	#msform {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		text-align: center;
		position: relative;
	}
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action_button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action_button:hover, #msform .action_button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs_title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs_subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
/* skip button (currently muted) */
#msform .skip {
	width: 50px;
	background: rgb(184, 184, 184);
	font-size: 0.4em;
	color: white;
	border: 0 none;
	border-radius: 5px;
	position: absolute;
	left: 62%;
	bottom: 0%;
	cursor: pointer;
	padding: 5px 2px;
	margin: 5px 2px;
}

/*
	SPECIFIC STYLES
*/

/* Step 2 */
#birthdate::-webkit-inner-spin-button { 
	display: none; 
}
.genderGroup {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#sexualOrient {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Radio buttons custom */
input[type="radio"] {
	position: absolute;
	opacity: 0;
	z-index: -2;
}
label {
	position: relative;
	font-size: 0.5em;
	margin-right: 1em;
	padding-left: 2em;
	padding-right: 0.5em;
	line-height: 2;
	cursor: pointer;
	padding-top: 0.15em;
	margin-bottom: 1%;
	z-index: 1000;
}
label:before {
	box-sizing: border-box;
	content: " ";
	position: absolute;
	top: 0.2em;
	left: 5%;
	display: block;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid black;
	border-radius: .25em;
	/* z-index: -1; */
}  
input[type="radio"] + label::before {
	border-radius: 1em;
}
input[type="radio"]:checked + label {
	padding-left: 1.5em;
	padding-right: 1em;
	color: white;
}
input[type="radio"]:checked + label:before {
	top: 0;
	width: 100%;
	height: 2vh;
	background: #27AE60;
	border: 1px solid #27AE60;
	z-index: -1;
}  
/* Transition */
label,
label::before {
	transition: .25s all ease;
}

/* Step 3 */

/*
	RANGE & SLIDER
*/
.questionsS3 {
	font-size: 0.7em;
	position: relative;
}
.step3 {
	margin-top: 5%; 
}
.values {
	font-size: 0.6em;
	font-family: 'ComfortaaLight', cursive;
	text-align: end;
}
